<div class="container login-container">

  <form #f="ngForm"
        (ngSubmit)="onSubmit(f)"
        class="login-form">
    <h2>RESET PASSWORD</h2>

    <div class="form-group">
      <input #email="ngModel"
             class="form-control"
             id="email"
             name="email"
             ngModel
             placeholder="Account Email"
             required
             type="email"/>
    </div>
    <div class="form-group">
      <input type="submit"
             [disabled]="f.invalid"
             class="btnSubmit"
             value="Reset Password"/>
    </div>
  </form>
</div>
